<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/node_modules/jquery/dist/jquery.js"></script>
    <script type="text/javascript">
        $().ready(function(){
            <% if(locals.item) { %>
                $(".deleteBtn").click(function () {
                    $.ajax({
                        //이름을 이렇게 주면 url에서 치면 detail로 넘어가서 delete를 숨길수 있겠군
                        url: '/memo/<%=item.id%>',
                        method: "DELETE"
                    }).done(function(response){
                       if(response == true){
                            location.href="/";
                        }
                    });
                });
            <% } %>
        });
    </script>

    <style type="text/css">
        a:LINK{
            color: #333;
            text-decoration: none;
        }
        a:VISITED{
            color: #333;
            text-decoration: none;
        }
        h1 {
            display : inline;
        }

    </style>

</head>
<!--style ="width :500px ; height :100px ;-->
<body>
    <div style ="width :500px; height :100px ; display : inline ; text-align: left"> <h1>  MEMO </h1> </div>
    <div style ="width : 200px; display : inline-block ; float : right"> <a href = "/new"> <h1>+</h1> </a></div>

    <hr/>
    <div style=" display:inline-block ; width: 150px; height: 250px; border : 1px solid black;  " >
        <% if(locals.items) { %>
            <% for(let item of items){ %>
             <a href = "/memo/<%=item.id%> ">  <%= item.subject %></a> <br/>
            <% } %>
        <% }%>
    </div>
    <div style=" display:inline-block ;  width: 250px; height: 250px; border : 1px solid black; " >
        <% if(locals.item) { %>

            <form method="post" action="/memo/update/<%=item.id%> ">
                <%=item.id%>
                <h1>제목</h1><hr/>
                <input type="text" name="subject" value="<%=item.subject%>"></input>
                <h2>내용</h2>
                <textarea name="memo"><%=item.memo%></textarea><br/>
                수정 <input type="image" src="http://localhost:3000/ic_update_black_24px.svg"> </input>
            </form>
        <!--
            <form method="delete" action="/memo/<%=item.id%> ">
                삭제 <input type="image" class="deleteBtn" src="http://localhost:3000/ic_delete_black_24px.svg"> </input>
            </form>
        -->
            삭제 <input type="image" class="deleteBtn" src="http://localhost:3000/ic_delete_black_24px.svg"> </input>
        <% }%>
    </div>
</body>
</html>